@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: white;
}
ul {
    list-style: none;
}
nav {
    background-color: rgb(25, 9, 65);
    padding: 0 10%;
    box-shadow: 0 8px 0 tomato;
}
nav h1 {
    display: inline-block;
    color: tomato;
    margin-right: 1em; 
}
nav * {
    color: honeydew;
}
nav a {
    display: block;
    padding:  2em;
    text-decoration: none;
    transition: all 0.2s;
}
nav a.active {
    font-weight: bold;
    color: rgb(253, 226, 191);
    box-shadow: 0 8px 0 rgb(0, 201, 201);
    background-color: rgb(16, 28, 100);
}
nav a:hover {
    background-color: rgb(16, 28, 100);
    color: white;
    transition: all 0.2s;
}
nav ul {
    display: inline-flex;
}
button {
    border: none;
}
img {
    display: block;
}

@keyframes loader {
    0%   { transform: rotate(0deg);   }
    100% { transform: rotate(360deg); }
}

#loader-container {
    margin-bottom: 1em;
    padding: 1em;
}

#loader {
    width:  64px;
    height: 64px;
    border: 16px solid rgb(253, 226, 191);
    border-top-color: rgb(0, 201, 201);
    border-radius: 100%;
    margin: 0 auto;

    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



#search, #album, #track, #artist, #favorites {
    width: 80%;
    margin: 4em auto;
}
#search h2 {
    margin: 1em 0;
}
#search .search-container {
    display: flex;
}
#search .search-container * {
    height: 64px;
    display: block;
    padding: 1.25em;
    transition: all 0.2s;
}
#search .search-container i {
    background-color:tomato;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: rgb(253, 226, 191);
    padding: 16px;
    cursor: pointer;
}
#search .search-container i:hover {
    background-color: rgb(0, 201, 201);
    color: rgb(255, 255, 255);
}
#search .search-container *:focus {
    outline: none;
    border-left: 8px solid rgb(0, 201, 201); 
    transition: all 0.2s;
}
#search input {
    width: 70%;
    height: 4em;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 24px;
    background-color: rgb(231, 231, 231);
}
#search select {
    flex: 1;
    border: none;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
}
#search ul, #album ul, #favorites ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 1em;
}
.item, #album .track, #favorites li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 48px;
    background-color: #fff;
    vertical-align: center;
    border-bottom: 1px solid #ccc;
}

.item.legend .title {
    margin-left: 96px;
}
.item p, #album .track p, #favorites p {
    padding: 12px;
    color: rgb(163, 177, 190);
}
.item a, #album a, #track a, #favorites a {
    color: slategrey;
    text-decoration: none;
    font-weight: normal;
}
.item a:hover, #album a:hover, #track a:hover, #favorites a:hover {
    color: rgb(0, 201, 201);
    font-weight: normal;
}
i.fa {
    cursor: pointer;
    transition: all 0.2s;
}
i.fa-heart-o, i.fa-times {
    color: #aaa;
}
i.fa-heart-o:hover, i.fa-times:hover {
    color: tomato;
    transition: all 0.2s;
}
i.fa-heart {
    color: tomato;
}
#search .item img{
    width: 48px;
}

.item i, .track i {
    font-size: 24px;
    padding: 12px;
}

.item .title {
    font-weight: bold;
    width: 40%;
}

.item .album {
    width: 20%;
}

.item .artist {
    width: 20%;
}

#album img {
    width: 20%;
    height: 20%;
    border-radius: 8px;
}
#album > div {
    display: flex;
    flex-wrap: wrap;
}
.infos-container {
    padding: 0 2em;
    width: 75%;
    position: relative;
}
.infos-container p {
    font-size: 16px;
    color : #aaa;
    border-left: 8px solid rgb(0, 201, 201);
    padding: 0.33em 1em;
}

a button {
    padding: 1em 1.5em;
    font-size: 16px;
    font-weight: bold;
    background-color: tomato;
    color: rgb(253, 226, 191);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    position: absolute;
    bottom: 0;
}

a button:hover {
    background-color: rgb(0, 201, 201);
    color: white;
    transition: all 0.2s;
}

#album h3, #artist h2, #track h2 {
    margin-bottom: 1.33em;
}
#album ul {
    margin-top: 2em; 
    width: 100%;
}
#album .track .title:nth-child(1){
    margin-left: 48px;
}
#album .track .title {
    width: 80%;
}

#artist > div {
    display: flex;
}
#artist img {
    width: 33.33%;
    height: 33.33%;
    border-radius : 8px; 
}

#track > div {
    display: flex;
    flex-wrap: wrap;
}
#track .infos-container {
    width: 33.33%;
    padding: 0;
}
#track .links-container {
    width: 66.66%;
    position: relative;
}
#track audio {
    width: 100%;
    box-shadow: 0 8px 0 rgb(0, 201, 201);
}
#track img {
    width : fit-content;
    height: fit-content;
    border-radius: 4px;
    object-fit: contain;
}
#track .album-artist-container {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 4px solid #ddd; 
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#track .album, #track .artist {
    display: flex;
    align-items: center;
    width: 48%;
    flex-wrap: wrap;
}
#track button {
    right: 0;
}
#track i {
    position: absolute;
    bottom: 0;
    left: 0;
}
#track .album p, #track .artist p {
    font-size: 24px;
    margin-left: 1.2em; 
}

#favorites li {
    width: 100%;
    display: flex;
}
#favorites .legend .title {
    margin-left: 44px; 
}