<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <h1>DeezWeb</h1>
        <ul>
            <li><a href="index.html">     Recherche   </a></li>
            <li><a href="favorites.html"> Mes favoris </a></li>
        </ul>
    </nav>

    <div id="album">
        
        <!-- CONTENT -->
        <div v-if="album">
            <img :src="album.cover_medium">
            <div class="infos-container">
                <h2 class="title">{{ album.title }}</h2>
                <h3><a :href="'artist.html?id=' + album.artist.id" class="artist">{{ album.artist.name }}</a></h3>
            </div> 
                <ul class="tracks">
                    <li class="track">
                        <p class="title"> TITRE </p>
                        <p>               DUREE </p>
                    </li>
                    <li class="track" v-for="track in album.tracks.data">
                        <p class="title"><a :href="'track.html?id=' + track.id">{{ track.title }}</a></p>
                        <p>{{ track.duration | toMinutes }}</p>
                    </li>
                </ul>
            <button><a :href="album.link">Voir l'album sur Deezer</a></button>
        </div>
    
        <!-- LOADER -->
        <div v-if="loading" id="loader-container">
            <div id="loader"></div>
        </div>
    
    </div>
    
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="javascript/album.js"></script>
</body>
</html>