<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <nav>
        <h1>DeezWeb</h1>
        <ul>
            <li><a href="index.html">                    Recherche   </a></li>
            <li><a href="favorites.html" class="active"> Mes favoris </a></li>
        </ul>
    </nav>
    
    <div id="favorites" v-if="favorites.length">
        <h2>Mes titres favoris</h2>
        <ul>
            <li v-if="favorites.length" class="item legend">                        
                <p class="title" > TITRE   </p>
                <p class="artist"> ARTISTE </p>
                <p class="album" > ALBUM   </p>
                                
                <p class="duration"> DUREE </p>
            </li>
            <li v-for="favorite in favorites" class="item">
                <i class="fa fa-times fa-2x" @click="removeFavorite(favorite)"></i>
                
                <p class="title" > <a :href="'track.html?id='  + favorite.id"       > {{ favorite.title }}       </a> </p>
                <p class="artist"> <a :href="'artist.html?id=' + favorite.artist.id"> {{ favorite.artist.name }} </a> </p>
                <p class="album" > <a :href="'album.html?id='  + favorite.album.id" > {{ favorite.album.title }} </a> </p>
                
                <p class="duration"> {{ favorite.duration | toMinutes }} </p>
            </li>
        </ul>
    </div>
    
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="javascript/favorites.js"></script>
</body>
</html>