<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <nav>
        <h1>DeezWeb</h1>
        <ul>
            <li><a href="index.html">Recherche</a></li>
            <li><a href="favorites.html">Mes favoris</a></li>
        </ul>
    </nav>
    
    <div id="favorites" v-if="favorites">
        <h1>Mes titres favoris</h1>
        <ul>
            <li v-for="favorite in favorites">
                <i class="fa fa-heart"></i>{{ favorite.title }}<i class="fa fa-times" @click="removeFavorite(favorite)"></i>
            </li>
        </ul>
    </div>
    
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="javascript/favorites.js"></script>
</body>
</html>