<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <nav>
        <h1>DeezWeb</h1>
        <ul>
            <li><a href="index.html" class="active"> Recherche   </a></li>
            <li><a href="favorites.html">            Mes favoris </a></li>
        </ul>
    </nav>
    
    <div id="search" onscroll="scrolled(this)">
        <h2>Rechercher sur Deezer</h2>
        <div class="search-container">
            <input type="text" v-model="searchParam">
    
            <select v-model="searchOrder">
                <option value="">Trier les résultats par ... </option>
                
                <option value="ALBUM_ASC">  Album   </option>
                <option value="ARTIST_ASC"> Artiste </option>
                <option value="TRACK_ASC">  Titre   </option>
                <option value="RATING">     Note    </option>
                <option value="RANKING">    Rang    </option>
            </select>
                
            <i @click="search(searchParam)" class="fa fa-search fa-2x"></i>
        </div>
        
        <h2 v-if="searchResults.length">Résultats de la recherche</h2>
        
        <ul>
            <li v-if="searchResults.length" class="item legend">                        
                <p class="title" > TITRE   </p>
                <p class="artist"> ARTISTE </p>
                <p class="album" > ALBUM   </p>
                        
                <p class="duration"> DUREE </p>
            </li>
            <li v-for="item in searchResults" class="item">
                <img :src="item.album.cover_small">
                <i @click="toggleFavorite(item)" class="fa" :class="'fa-heart' + (item.isFavorite ? '' : '-o')"></i>
                
                <p class="title" > <a :href="'track.html?id='  + item.id"       > {{ item.title }}       </a> </p>
                <p class="artist"> <a :href="'artist.html?id=' + item.artist.id"> {{ item.artist.name }} </a> </p>
                <p class="album" > <a :href="'album.html?id='  + item.album.id" > {{ item.album.title }} </a> </p>
                
                <p class="duration"> {{ item.duration | toMinutes }} </p>
            </li>
        </ul>

        <div v-if="loading" id="loader-container">
            <div id="loader"></div>
        </div>
                
        <script src="node_modules/vue/dist/vue.min.js"></script>
        <script src="javascript/search.js"></script>
    </div>
</body>
</html>